{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-offset-4 col-md-4 well">
            <div class="row well">
            <h3>Events</h3>
            {% for data in data %}
              <div class="pull-right">
                  <a href="{{url_for('events_app.delete_event',id=data[3])}}"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
              <div class="pull-right">
                    <a href="{{url_for('events_app.updateform')}}"><span class="fa fa-pencil-square-o"></span></a>
               </div>
              <h4>{{data[0]}}</h4>
              <h5><b>{{data[1]}}</b></h5>
              <br>
              <h5>Time: {{data[2]}}</h5>
             {% endfor %}
        </div>

    </div>
</div>

{% endblock %}

