{% extends "layout.html" %}
{% block head %}
{{ super() }}
<style type="text/css">
.button_margin{
    margin-left: 4px;
}
</style>
{% endblock %}
{% block content %}
<div id="container-fluid">
    <div class="col-md-offset-4  col-md-5">
        <h3>Change Existing Layouts!</h3>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4 well">
            <form action="{{ url_for('layout_app.layout_change') }}" method="POST" id="layoutForm">
                <div class="form-group">
                    {% for lay in layout_data %}
                    <input type="radio" name="layout" value="{{lay[0]}}">{{lay[1]}}
                    <a href="{{ url_for('updateLayout',id = lay[0]) }}" class="btn btn-info pull-right button_margin">Edit</a>
                    <a href="{{ url_for('layout_app.layout_delete',id = lay[0]) }}" class="btn btn-info pull-right">Delete</a>
                    <br>
                    <br>
                    {% endfor %}
                </div>
                <div class="form-group">
                     <button type="submit" class="btn btn-success">Change!</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-offset-4  col-md-5">
        <h3>Or You Can Share A New Layout With Others</h3>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4 well">
            <form method="post" action="{{ url_for('layout_app.add_new_layout') }}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Layout Name" required>
                </div>
                <div class="form-group">
                    <label for="detail">Detail</label>
                    <input type="text" class="form-control" id="detail" name="detail" placeholder="Enter a short detail" required>
                </div>
                <div class="form-group">
                    <label for="font_name">Font Name</label>
                    <input type="text" class="form-control" id="font_name" name="font_name" placeholder="Enter font name" required>
                </div>
                <div class="form-group">
                    <label for="font_size">Font Size</label>
                    <input type="number" class="form-control" id="font_size" name="font_size" placeholder="Enter font size" required>
                </div>
                <div class="form-group">
                    <label for="image_url">Image URL</label>
                    <input type="text" class="form-control" id="image_url" name="image_url" placeholder="Enter image url" required>
                </div>
                <div class="form-group pull-right">
                     <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{{ super()}}
{% endblock %}