{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-offset-4 col-md-4 well">
            <div class="row well">
            <h3>Group</h3>
            {{data[0]}}
             <h4>Group Explanation</h4>
              {{data[2]}}
             <br>
            <h3>Group Members</h3>
        {% for members in memberdata %}
            {{ members[0]}}
                 <div class="pull-right">
                     <a href="{{url_for('groups_app.delete_member',id=members[1])}}"><span class="glyphicon glyphicon-remove"></span></a>
                 </div>
            <br>
        {% endfor %}
        </div>

    </div>
</div>

{% endblock %}