<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1>Hello, Flask!</h1>
      
      <a href="{{ url_for('timeline') }}">To go timeline</a>
      
      
      
      <p>Test commit</p>
      <p>Second test commit for username change</p>
      <p>Sıddık was here.</p>
      <p>Third test commit for username change sddkacil.1</p>
      <p>Rumeysa was here.</p>
      <p>Hello! Is there anybody in there?</p>
      
    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>
</html>
