
<!DOCTYPE html>
<html>

<head>
	{% block head %}
	<meta charset="utf-8" />
	<title>postITU</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.6.3/css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	{% endblock %}


	{% block styles %}
	<style type="text/css">
		.no-link-a{
			text-decoration:none;
		}
	</style>
	{% endblock %}
</head>

<body>
	<div class="container-fluid">
		<div class=" top">
			<div class="row">
				<div class="col-md-offset-2 col-md-3">
					<a href="{{url_for('home_page')}}" class="removeAeffects">
					<img src="{{url_for('static', filename='logo.png')}}" class=" img-responsive logo-image" width=50 alt="">
                    <span class="logo-text">postITU</span>
					</a>
				</div>
                <div class=" col-md-2">
					<form action="{{ url_for('users_app.search_user') }}" method="get">
						<input type="text" name="username" placeholder="Ara.." class="form-control">
					</form>
                </div>
				<div class="dropdown pull-right">
					<button class="btn btn-primary-outline dropdown-toggle " type="button" data-toggle="dropdown">
						Menu
						<span class="caret"> </span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a href="{{url_for('home_page')}}" class="navlink no-link-a"><span class="fa fa-home fa-2x"></span> Home</a>
						</li>
						<li>
							<a href="{{url_for('timeline')}}" class="navlink no-link-a"><span class="fa fa-book fa-2x"></span> timeline</a>
						</li>
						<li>
							<a href="{{url_for('activity')}}" class="navlink no-link-a"><span class="fa fa-heart fa-2x"></span> activity</a>
						</li>
						<li>
							<a href="{{url_for('dmessage')}}" class="navlink no-link-a"><span class="fa fa-comments fa-2x"></span> dmessage</a>
						</li>
						<li>
							<a href="{{url_for('images_app.upload')}}" class="navlink no-link-a"><span class="fa fa-upload fa-2x"></span> upload</a>
						</li>
						<li>
							<a href="{{url_for('images_app.locations')}}" class="navlink no-link-a"><span class="fa fa-map-marker fa-2x"></span> locations</a>
						</li>
						<li>
							<a href="{{url_for('issues')}}" class="navlink no-link-a"><span class ="fa fa-envelope fa-2x"></span> issues</a>
						</li>
						<li>
							<a href="{{url_for('bidPage')}}"  class="navlink no-link-a"><span class="fa fa fa-balance-scale fa-2x"></span> bidPage</a>
						</li>

						<li>
							<a href="{{url_for('gmessage')}}" class="navlink no-link-a"><span class="fa fa-comments-o fa-2x"></span> gmessage</a>
						</li>
						<li>
							<a href="{{url_for('users_app.users_all')}}" title="All users" class="navlink no-link-a"><span class="fa fa-th-list fa-2x"></span> users_all</a>
						</li>
						<li>
							<a href="{{url_for('createDatabase')}}" class="navlink no-link-a"><span style="color:gold !important" class="fa fa-database fa-2x"></span> createDatabase</a>
						</li>
						{% if session['logged_in'] %}
							<li>
								<a href="{{url_for('users_app.show_profile',user_id=session['user_id'])}}" class="navlink no-link-a"><span class="fa fa-user-secret fa-2x"></span> show_profile</a>
							</li>
							<li>
								<a href="{{url_for('groups_app.create_group')}}" class="navlink no-link-a"><span class="fa fa-users fa-2x"></span> groups</a>
							</li>
							<li>
								<a href="{{url_for('logout')}}" class="navlink no-link-a" title="Logout" ><span style="color:red !important" class="fa fa-sign-out fa-2x"></span> logout</a>
							</li>
						{% else %}
							<li>
								<a href="{{url_for('loginpage')}}" class="navlink no-link-a" title="Login"><span style="color:blue !important" class="fa fa-user fa-2x"></span> loginpage</a>
							</li>
							<li>
								<a href="{{url_for('signup_page')}}" class="navlink no-link-a" title="Sign Up, Register"><span style="color:blue !important" class="fa fa-sign-in fa-2x"></span> signup_page</a>
							</li>
						{% endif %}
					</ul>
				</div>
				<!--
				<div class="col-md-offset-2 col-md-2">
					<a href="{{url_for('home_page')}}" class="navlink"><span class="fa fa-home fa-2x"></span></a>
					<a href="{{url_for('timeline')}}" class="navlink"><span class="fa fa-book fa-2x"></span></a>
					<a href="{{url_for('activity')}}" class="navlink"><span class="fa fa-heart fa-2x"></span></a>
                    <a href="{{url_for('dmessage')}}" class="navlink"><span class="fa fa-comments fa-2x"></span> </a>
                    <a href="{{url_for('images_app.upload')}}" class="navlink"><span class="fa fa-upload fa-2x"></span> </a>
					<a href="{{url_for('images_app.locations')}}" class="navlink"><span class="fa fa-map-marker fa-2x"></span></a>
					<a href="{{url_for('issues')}}" class="navlink"><span class ="fa fa-envelope fa-2x"></span></a>
					<a href="{{url_for('bidPage')}}"  class="navlink"><span class="fa fa fa-balance-scale fa-2x"></span></a>
					<a href="{{url_for('groups')}}" class="navlink"><span class="fa fa-users fa-2x"></span></a>
					<a href="{{url_for('gmessage')}}" class="navlink"><span class="fa fa-comments-o fa-2x"></span></a>

					<a href="{{url_for('users_app.users_all')}}" title="All users" class="navlink"><span class="fa fa-th-list fa-2x"></span></a>
					<a href="{{url_for('createDatabase')}}" class="navlink"><span style="color:gold !important" class="fa fa-database fa-2x"></span></a>
					{% if session['logged_in'] %}
                    	<a href="{{url_for('users_app.show_profile',user_id=session['user_id'])}}" class="navlink"><span class="fa fa-user-secret fa-2x"></span></a>
						<a href="{{url_for('logout')}}" class="navlink" title="Logout" ><span style="color:red !important" class="fa fa-sign-out fa-2x"></span></a>
					{% else %}
						<a href="{{url_for('loginpage')}}" class="navlink" title="Login"><span style="color:blue !important" class="fa fa-user fa-2x"></span></a>
						<a href="{{url_for('signup_page')}}" class="navlink" title="Sign Up, Register"><span style="color:blue !important" class="fa fa-sign-in fa-2x"></span></a>
					{% endif %}
				</div>
				-->
			</div>

		</div>
        <div class="main">
            {% block content %}



            {% endblock %}
        </div>

	</div>

	<footer>
		<div id="datetime">{{ current_time }}</div>
	</footer>

	{% block scripts %}

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='plugins/jquery-3.1.1.min.js') }}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='plugins/bootstrap3-editable/js/bootstrap-editable.js') }}"></script>
	{% endblock %}
</body>

</html>