
<!DOCTYPE html>
<html>

<head>
	{% block head %}
	<meta charset="utf-8" />
	<title>postITU</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.6.3/css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	{% endblock %}


	{% block styles %}

	{% endblock %}
</head>

<body>
	<div class="container-fluid">
		<div class=" top">
			<div class="row">
				<div class="col-md-offset-2 col-md-3">
					<a href="{{url_for('home_page')}}" class="removeAeffects">
					<img src="{{url_for('static', filename='logo.png')}}" class=" img-responsive logo-image" width=50 alt="">
                    <span class="logo-text">postITU</span>
					</a>
				</div>
                <div class=" col-md-2">
                    <input type="text" name="search" placeholder="Ara.." class="form-control">
                </div>
				<div class="col-md-offset-2 col-md-2">
					<a href="{{url_for('home_page')}}" class="navlink"><span class="fa fa-home fa-2x"></span></a>
					<a href="{{url_for('timeline')}}" class="navlink"><span class="fa fa-book fa-2x"></span></a>
					<a href="{{url_for('activity')}}" class="navlink"><span class="fa fa-heart fa-2x"></span></a>
					<a href="{{url_for('login')}}" class="navlink"><span class="fa fa-user fa-2x"></span> </a>
                    <a href="{{url_for('profile')}}" class="navlink"><span class="fa fa-user-secret fa-2x"></span></a>
                    <a href="{{url_for('dmessage')}}" class="navlink"><span class="fa fa-comments fa-2x"></span> </a>
                    <a href="{{url_for('images_app.upload')}}" class="navlink"><span class="fa fa-upload fa-2x"></span> </a>
					<a href="{{url_for('createDatabase')}}" class="navlink"><span class="fa fa-database"></span></a>
					<a href="{{url_for('signup')}}" class="navlink"><span class="fa fa-sign-in fa-2x"></span> </a>
					<a href="{{url_for('images_app.locations')}}" class="navlink"><span class="fa fa-map-marker fa-2x"></span> </a>
					<a href="{{url_for('issues')}}" class="navlink"><span class ="fa fa-envelope fa-2x"></span></a>
					<a href="{{url_for('bidPage')}}"  class="navlink"><span class="fa fa fa-balance-scale fa-2x"></span></a>
				</div>
			</div>

		</div>
        <div class="main">
            {% block content %}



            {% endblock %}
        </div>

	</div>

	<footer>
		<div id="datetime">{{ current_time }}</div>
	</footer>

	{% block scripts %}

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% endblock %}
</body>

</html>