{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-offset-4 col-md-4 well">
        <form action="{{ url_for('register_app.login') }}" method="post">
            <h2>Login Page</h2>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="username" placeholder="sailormoon" name="username">     <!--value eklendi-->
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="test" name="password">      <!--value eklendi-->
            </div>
            <div class="pull-right">
                 <button type="submit" class="btn btn-default">Log in</button>
            </div>
            <br>
            <div>
             <h4>If you don't have an account
                <a href="{{url_for('signup_page')}}"><span class="fa fa-arrow-right"></span></a>
                </h4>
            </div>
        </form>
    </div>
</div>

{% endblock %}