{% extends "layout.html" %}
{% block head %}
{{ super() }}
<style type="text/css">
#profile_photo{
left:50%;
border-radius:300px;
}
</style>
{% endblock %}

{% block content %}
<br>
<br>
<div class="col-md-3">
    <div class="col-md-offset-1  row">
    <img  alt="Profile Picture" id="profile_photo" class="img-responsive center-block" src="{{ url_for('static', filename='uploads/'+result[2]) }}" class="img-responsive" />
    </div>
     <div class="col-md-offset-1 row">
         <br>
        <p class="lead">
            {{ result[1] }}
        </p>
    </div>
     <div class="col-md-offset-1 row">
         {% if is_self %}

         {% else %}
         {% if is_following %} <a href="{{ url_for('users_app.user_unfollow',followed= result[0])}}">
            <button type="button" class="btn btn-danger" >
                Unfollow!
            </button>
         </a>

         {% else %}
        <a href="{{url_for('users_app.user_follow', followed= result[0])}}">
            <button type="button" class="btn btn-primary" >
                Follow!
            </button>
         </a>
        {% endif %}
        {% endif %}
    </div>
     <div class="col-md-offset-1 row">
       <a href="{{ url_for('users_app.show_followers',user_id=result[0])}}"> Followers</a>
     </div>
    <div class="col-md-offset-1 row">
       <a href="{{ url_for('users_app.show_followed',user_id=result[0])}}"> Follows</a>
     </div>

</div>
<div class="col-md-9">
    {% for photopaths in list_photos %}
    {% if loop.index is divisibleby 3 %}
    <div class="row">
    {% endif %}
        <div class="col-md-3">
           <img src="{{ url_for('static', filename='uploads/'+photopaths[0]) }}" class="img-responsive" />
        </div>
    {% if loop.index is divisibleby 3 %}
    </div>
    <br>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}