{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-offset-4 col-md-4 well">
        <form>
            <div class="form-group">
                <label for="">Browse image</label>
                <input type="file" class="file" id="username" placeholder="image">
            </div>
            <div class="form-group">
                <label for="">Comment on your picture</label>
				<input type="textarea" class="form-control" id="username" placeholder="comment">
            </div>
            <div class="pull-right">
                 <button type="submit" class="btn btn-success">Upload</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}