{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-offset-4 col-md-4 well">
        <form action="{{ url_for('images_app.upload_post') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="">Browse image</label>
                <input type="file" class="file" name="image" placeholder="image">
            </div>
            <div class="form-group">
                <label for="">Comment on your picture</label>
                <textarea name="comment"  class="form-control" placeholder="Comment.."></textarea>
            </div>
            <div class="form-group">
                <label for="">Location</label>
				<input type="text" data-role="tagsinput" class="form-control" id="location" name="location" placeholder="Location..">
            </div> 
            <div class="pull-right">
                 <button type="submit" class="btn btn-success">Upload</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css') }}" />
{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='plugins/jquery-3.1.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.min.js') }}"></script>
    
{% endblock %}