{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-offset-4 col-md-4 well">
        <a href="{{ url_for('users_app.show_profile', user_id=user_id)}}">
            Turn back to profile page
        </a>
        {% for users in ulist %}
            <div class="row well">
                {{ users[1] }} <img style="height:32px;width:32px" src="{{url_for('static', filename='uploads'+users[2]) }}" alt="Profile Photo" class="img-responsive">
                <a href="{{ url_for('users_app.show_profile',user_id=users[0])}}"> To profile</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}